<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>管理员登录</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		body{
			background: black;
		}
		.navbar-footer-style{
			background: black;
		}
	</style>
</head>
<body>
	<div style="margin-top:200px" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">欢迎管理员</div>
					<div class="panel-body">
						<form role="form" method="post" action="#" class="form-horizontal" style="padding:30px">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">用户名:</div>
									<input id="username" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">密码:</div>
									<input id="password" type="password" class="form-control">
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer clearfix">
						<button id="btn" class="btn btn-primary pull-right">登陆</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-footer-style navbar-default navbar-fixed-bottom">
		<div class="container">
			<a href="/" class="btn btn-primary">首页</a>
		</div>
	</div>
	<script>
		document.getElementById("btn").onclick = function  () {
			var username = document.getElementById("username").value;
			var password = document.getElementById("password").value;
			var data = {
				username: username,
				password: password
			};
			var XHR = new XMLHttpRequest();
			XHR.open("POST", "adminin");
			XHR.setRequestHeader("Content-Type", "application/json");
			XHR.send(JSON.stringify(data));
			XHR.onload = function  () {
				if(this.status == 304){
					location.href = location.href;
				}
				else{
					alert(this.response);
				}
			};
		};
	</script>
</body>
</html>