<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>管理员界面</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div style="margin-top:200px" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">客户的购买信息</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<tr>
								<td>haha</td>
								<td>heh</td>
								<td>dom</td>
							</tr>
							<tr>
								<td>h</td>
								<td>w</td>
								<td>h</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer clearfix"><a class="btn btn-primary pull-right">下载</a></div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<a href="/adminout"><button class="btn btn-primary pull-right">登出</button></a>
			</div>
		</div>
	</div>
</body>