/*第二大部分*/
#container{
	min-width: 1200px;
	width: 100%;
	background-color: #000000;
	margin-top: 111px;
	float: left;
}
#container-center{
	width: 89%;
	margin-top: 45px;
	margin-left: 5.85%;
}
.container-l{
	float: left;
	width: 47.85%;
}
.container-r{
	float: right;
	width: 49.2%;
}
.img-container{
	width: 100%;
	margin: 0 auto;
}
.img-container-children{
	position: relative;
}
.img-container-children img{
	position: absolute;
	width: 100%;
	-webkit-transform: rotateY(90deg);
	        transform: rotateY(90deg);
}
.img-container-children img:first-child{
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}
#prev{ 
	left: 10px;
}
#next{
 	right: 10px;
}
.arrow { 
	cursor: pointer;
 	display: none; 
 	line-height: 39px; 
 	text-align: center; 
 	font-size: 36px;
 	font-weight: bold; 
 	width: 40px; 
 	height: 40px; 
 	position: absolute;
 	z-index: 2;
 	top: 180px;
 	background-color: RGBA(0,0,0,.3); 
 	color: #fff;
 	}
.img-container:hover .arrow { 
	display: block;
}
/*圆圈*/
#circle-container{
	width: 100%;
	margin-top: 70%;
}
#circle-container-first{
	width: 14.2em;
	margin: 0 auto;
}
.circle{
	width: 1.5em;
	height: 1.5em;
	border: 1px solid white;
	border-radius: 50%;
	float: left;
	margin-right: 1.5em;
}
.circle:nth-last-child(1){
	margin-right: 0;
}
.circle:nth-last-child(5){
	background-color: red;
}
.container-r .ip{
	font-size: 2em;
	text-indent: 1em;
	color: white;
	width: 100%;
	float: left;
}
.shoujia{
	background-color: #202020;
	color: white;
	width: 100%;
	margin-top: 20px;
	float: left;
	padding: 7px 0;
	text-indent: 1em;
	font-size: 2em;
}
/*颜色部分*/
.color{
	width: 100%; 
	font-size: 1.2em;
	color: white;
	margin-top: 20px;
	float: left;
}
.color p,
.version p,
.store p{
	float: left;
	text-indent: 2em;
	height: 42px;
	line-height: 42px;
}
.color div{
	float: left;
	width: 18.3%;
	text-align: center;
	border: 2px solid #5E5E60;
	height: 42px;
	line-height: 42px;
}
.distance{
	margin-left: 2%;
}
/*版本部分*/
.version{
	width: 100%; 
	font-size: 1.2em;
	color: white;
	margin-top: 20px;
	float: left;
}
.version div{
	float: left;
	height: 42px;
	line-height: 42px;
	width: 39%;
	text-align: center;
	border: 2px solid #5E5E60;
}
/*内存部分*/
.store{
	width: 100%; 
	font-size: 1.2em;
	color: white;
	margin-top: 20px;
	float: left;
}
.store div{
	width: 18.3%;
	height: 42px;
	line-height: 42px;
	float: left;
	text-align: center;
	border: 2px solid #5E5E60;
}
/*体验部分*/
.experience{
	width: 100%; 
	font-size: 1.2em;
	color: white;
	margin-top: 20px;
	float: left;
}
.experience p{
	float: left;
	height: 42px;
	line-height: 42px;
}
.experience select{
	height: 42px;
	line-height: 42px;
	background: #000;
	color: white;
	width: 39.5%;
	font-size: 1em;
	border: 2px solid #5E5E60;
}
/*预约部分*/
.pay{
	width: 100%; 
	margin-top: 20px;
	float: left;
}
.pay-1{
	color: white;
	font-size: 2em;
}
.pay-2{
	color: gray;
	font-size: 1.2em;
}
.pay input[type*=submit]{
	width: 100%;
	background: #5E5E60;
	height: 50px;
	border: 2px solid #5E5E60;
	color: white;
	font-size: 1.8em;
	margin-top: 20px;
	border-radius: 4px;
}
/*第三部分*/
#third{
	width: 100%;
	min-width: 1200px;
	float: left;
	background-color: #000000;
}
.third-a{
	margin-top: 100px;
	width: 88.66%;
	height: 55px;
	border: 2px solid #5D5D5D;
	margin-left: 5%;
}
.third-a-1{
	width: 28.16%;
	margin: 0 auto;
	height: 55px; 
}
.third-a-1-l{
	width: 50%;
	float: left;
	height: 55px;
	background-color: #5E5E60;
	cursor: pointer;
}
.third-a-1-r{
	height: 55px;
	width: 50%;
	float: left;
	cursor: pointer;
}
.third-a-1 p{
	text-align: center;
	font-size: 1.8em;
	color: white;
	padding: 10px 0;
}
/*第四部分*/
#fourth{
	width: 100%;
	min-width: 1200px;
	float: left;
	background-color: #000000;	
}
.fourth-a{
	margin-left: 5%;
	width: 88.66%;	
	margin-top: 20px;
	height: 100px;
	border-bottom: 2px solid #5E5E60;
}
.fourth-a-l{
	width: 56.4%;
	float: left;
}
.fourth-a-r{
	width: 34%;
	float: right;
}
.fourth-word1{
	color: white;
	font-size: 5em;
	font-weight: 700;
	float: left;
	text-align: center;
	width: 14%;
}
.word-100{
	text-indent: 2em;
}
.fourth-word2{
	color: white;
	width: 86%;
	font-size: 1em;
	float: left;
}
.fourth-word2 p{
	padding-top: 10px;
}
.fourth-a-r div{
	width: 50%;
	height: 100px;
} 
.detail-100{
	color: white;
	float: left;
	padding-top: 20px;
}
.name{
	color: white;
	text-align: center;
	line-height: 90px;
	float: right;
}
/*第五部分*/
#fifth{
	width: 100%;
	min-width: 1200px;
	float: left;
	background-color: #000;
}
.fifth-a{
	width: 82.3%;
	margin: 0 auto;
}
.fifth-a img{
	margin-top: 20px;
	width: 100%;
}
